body {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.hidden-layer{
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input-group {
  margin-left: 10px;
  margin-top: 10px;
}

.input-group-text {
  width: 190px;
}

.settings-element {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrong {
  background-color: rgba(255,0,0,0.5);
}

.lm--tab {
  font-size: 14;
  padding: 5px;
}

.lm--pillow {
  font-size: 14;
  margin: 5px;
  padding: 5px;
}

.lm-button {
  font-size: 14;
  margin: 5px;
  padding: 5px;
}

.favorites-content {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}

.lm--favorites-link {
  margin: 5px 10px;
  width: 65%;
}

.lm--favorites-delete {
  width: 25%;
}

.favorites-element {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
}

#manual {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 15px;
}
