body {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.input-group {
  margin-left: 10px;
  margin-top: 10px;
}

.input-group-text {
  width: 190px;
}

.settings-element {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrong {
  background-color: rgba(255,0,0,0.5);
}
